<h1>Edited Coupon #<%= @coupon.id %></h1>

<p>
  Congratulations! Your coupon titled <%= @coupon.title %>
  has been updated in the database.
</p>

<li><a href="/coupons">Back to list of coupons</a></li>
